@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Lato:300i');
.ba-container{
	padding-left: 130px;
	padding-right: 130px;
	max-width: 1440px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.ba-editor {
    background-color:  #ffffff;
    box-shadow: 0px 4px 68px 0px rgba(0, 0, 0, 0.1);
    padding-top: 120px;
    padding-right: 120px;
    padding-left: 120px;
    padding-bottom:39px;

}
h1 {
    font-family: 'Playfair Display', serif;
    color:  #171717;
    font-size: 42px;
    font-weight: 400;
    text-align: left;
}
p {
    font-family: 'Lato', sans-serif;
    color:  #B3B3B3;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    padding-bottom: 10px;
}
blockquote {
    font-family: 'Lato', sans-serif;
    color:  #B3B3B3;
    font-size:24px;
    font-weight: 300;
    line-height: 35px;
    padding-bottom: 10px;
    padding-left: 30px;
    transform: scaleX(1.1041);
    
}
blockquote:before {
    display: block;
    padding-left: 35px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    color: #7a7a7a;
}
 p:first-of-type:first-letter {
    font-family: 'Playfair Display', serif;
    color:  #171717;
    font-size: 110px;
    float: left;
    padding:30px 15px 10px 0;
}
.ba-footer {
display:inline-block;
    padding-left: 120px;
    border: 2px solid #E8A156; 
    text-align: center;
    padding: 27px 75px;
}
a{
    cursor: default; 
    color:  #E8A156;
    text-decoration: none;
    font-family: "Lato",sans-serif;
    font-weight: 700;
    letter-spacing: 3px;

    }